<!doctype html>

<html>

<head>
    <title>Help Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/help.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/610d507d86.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid top">
                <a class="navbar-brand" href="#" style="color: white;">HELP</a>
                <button class="btn navbar-toggle navbar-right" type="button"
                    onclick="location.href='http://a7-babystep.herokuapp.com/setting'">
                    <span style="color: white">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>FAQs</h1>
        <h3>What does BabyStep do?</h3>
        <ul>
            <li>
                BabyStep helps break down the ultimate habit you wish to achieve into small, easy steps and sets up a
                reminder everyday to keep you on track.
            </li>
        </ul>
        <h3>Is BabyStep free?</h3>
        <ul>
            <li>
                Yes! BabyStep is completely free of charge! All you have to do is log in with your email address and
                password.
            </li>
        </ul>
        <h3>Will my information be used for other purposes?</h3>
        <ul>
            <li>
                No! BabyStep keeps all your personal information confidential and it will only be used for internal
                analytics to
                help improve your experience with BabyStep.
            </li>
        </ul>
        <h3>How do I add a new habit?</h3>
        <ul>
            <li>
                All you need to do is go to the “Habit” page and click the “+” sign on the top right. From there, you
                will be
                prompted to enter required information for the new habit!
            </li>
        </ul>
        <h3>How do I see the detail of my habit?</h3>
        <ul>
            <li>
                Locate the habit you wish to check details on and a simple click on it will do the magic!
            </li>
        </ul>
        <h3>I set my baby step too hard to finish, what do I do?</h3>
        <ul>
            <li>
                Don’t worry dear, BabyStep is all about starting your habit from small and easy steps! Simply locate the
                habit
                you wish to change and click the edit button on the top right, from there , you can adjust the current
                baby step
                to your preference!
            </li>
        </ul>
    </div>
</body>

</html>