<!doctype html>

<html>

<head>
    <title>Sign Up Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/signUp.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/610d507d86.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid top">
                <a class="navbar-brand" href="#" style="color: white;">BABYSTEP</a>
                <button class="btn navbar-toggle navbar-right" type="button"
                    onclick="location.href='http://a6-babystep.herokuapp.com/'">
                    <span style="color: white">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>SIGN UP</h1>
        <form action="/habit">
            <div>
                <h2>EMAIL:</h2>
                <input type='email' class="form-control" id="email" placeholder="example@gmail.com" name='email'
                    required>
            </div>
            <div>
                <h2>PASSWORD:</h2>
                <input type="password" class="form-control" id="password" placeholder="abc123!@#" name="password"
                    required>
            </div>
            <input type="submit" class="form-control btn" id="signUp" name="signUp" value="SIGN UP">
        </form>
    </div>
</body>

</html>