.bottom {
    display: flex;
    justify-content: space-around;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.description {
    
    font-size: large;
    font-family: 'Bubblegum Sans', cursive;
    color:#7B51FF;
}

