body {
    padding-top: 70px;
    padding-bottom: 70px;
}

input {
    font-size: 20pt;
}

input:focus, textarea:focus{
    background-color: lightyellow;
}

#createBtn {
    width: 60vw;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}