body {
    padding-top: 70px;
    padding-bottom: 70px;
}

input {
    font-size: 20pt;
}

input:focus, textarea:focus{
    background-color: lightyellow;
}

.days input{
    display: none;
}
  
.days label {
    display: inline-block;
    margin-inline: 3px;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 32px;
    cursor: pointer
}

#mon:checked ~ label[for="mon"],
#tues:checked ~ label[for="tues"],
#wed:checked ~ label[for="wed"],
#thurs:checked ~ label[for="thurs"],
#fri:checked ~ label[for="fri"],
#sat:checked ~ label[for="sat"],
#sun:checked ~ label[for="sun"] {
  background: #999;
  color: #ffffff;
}

#saveBtn {
    width: 60vw;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteBtn {
    width: 60vw;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}