.bottom {
    display: flex;
    justify-content: space-around;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

h2.habitName {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown {
    display: inline-block;
    float: right;
    margin-top: 8px;
}

.threedots {
    background: #ffffff;
    border: none;
    /* text-shadow: none; */
    box-shadow: none;
}

.dropdown-menu>li>a.delete {
    color : red;
}

hr.divider {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000;
}

p.babystep {
    margin-left: 14px;
}

.days {
    margin-left: 10px;
}

.days input{
    display: none;
}
  
.days label {
    display: inline-block;
    margin-inline: 3px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 9pt;
    border: 1px solid #ddd;
    border-radius: 50%;
    line-height: 32px;
    cursor: pointer
}

p.reminder {
    display: inline-block;
    padding: 2px;
    border: 3px solid gray;
    border-radius: 20%;
    margin: 5px;
    margin-left: 10px;
    background: gray;
    color: white;
}