.bottom {
    display: flex;
    justify-content: space-around;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.buttons {
    min-height: 80vh;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    margin: auto;
    padding: 15px;
    width: 70vw;
    background: #9f7ff8;
    color: white;
    border: 1px solid #ddd;
}