<!doctype html>

<html>

<head>
	<title>Habit Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/friends.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/610d507d86.js" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid top">
				<a class="navbar-brand" href="#" style="color: white;">BADGES</a>
				<button class="btn navbar-toggle navbar-right" type="button"
					onclick="location.href='http://a7-babystep.herokuapp.com/badges'">
					<span style="color: white">
						<i class="fas fa-times"></i>
					</span>
				</button>
			</div>
		</nav>
	</header>

	<style>
		.badges {
			text-align: center;
		}
	</style>
	<div class="badges">
		<div>
			<p>
			<h2><b>Friendship Achievements</b></h2>
			</p>
			<img src="../{{badge13}}" width='200' height='200' name={{badge13status}} class="icon1" />
			<p>
			<h1>Friendliest Badge</h1>
			</p>
			<p>
			<h2>This Badge is earned by adding at least 500 friends</h2>
			</p>
		</div>
	</div>




</body>

</html>